
/*---------Hosted Font----------*/
@font-face {
	font-family:"Cool Font";
	src: url("SpaceMono-Bold.ttf");
}

/*----------Album Title & Band Members/Producers-----------*/
.header1 {
	text-align:center;
	font-family:"Cool Font";
}

/*----------Link-----------*/
a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	background-color:#DCDCDC;
}

#releaseDate {
	text-align:center;
}

/*-----------Band Members/Producers-----------*/
#list1 {
	margin-left:15%;
}

li {
	font-style:italic;
}

/*-----------Track Table----------*/
caption {
	font-size:1.2em;
	text-align:center;
}

th {
	text-align:center;
}

.songInfo {
	background-color:#DCDCDC;
}

td {
	font-style:italic;
	text-align:center;
}
