<form action="contactUs.html" method="POST">
	<table>
		<tr>
			<td align="right">First Name:</td>
			<td><input type="text" name="First Name"></td>
		</tr>
		<tr>
			<td align="right">Last Name:</td>
			<td><input type="text" name="Last Name"></td>
		</tr>
		<tr>
			<td align="right">Email:</td>
			<td><input type="text" name="Email"></td>
		</tr>
		<tr>
			<td align="right">Type of License:</td>
			<td><input type="radio" name="answer" value="Business" checked>Business <input type="radio" name="answer" value="Personal">Personal</td>
		</tr>
		<tr>
			<td align="right">Reason:</td>
			<td>
				<select name="Reason">
					<option value="Select a Reason">Select a Reason</option>
					<option value="Software Support">Software Support</option>
					<option value="Hardware Support">Hardware Support</option>
					<option value="Information Request">Information Request</option>
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">Additional Information:</td>
			<td><textarea name="Additional Information"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="checkbox" name="I have read the terms of service." value="I have read the terms of service">I have read the terms of service</td>
		</tr>
		<tr>
			<td></td>
			<td align="center"><input type="submit" value="Send Request"></td>
		</tr>
	</table>
</form>