/*------Used for multiple pages------*/

@font-face {
	font-family:"Cool Font";
	src:url("SpaceMono-Bold.ttf");
}

.headerName {
	font-family:"Cool Font";
}

footer {
	width:100%;
	height:100px;
	margin-top:0px;
}

.footerHeading {
	text-align:center;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/*-----------Home Page Only-----------*/

#homeMiddle1 {
	width:100%;
	background-color:#3366ff;
}

/*----------Menu Page Only------------*/

#menuBody {
	background-color:#3366ff;
}

.menuNdes {
	text-align: center;
}

#menuBev {
	text-decoration:underline;
	text-align:center;
	font-size:20.8px;
}

/*----------Contact Us Page only-----------*/

.reqCustInfo {
	text-align:right;
	font-weight:bold;
}
